---
import Layout from '../layouts/defaultLayout.astro';
import ResourceCard from '../components/ResourceCard.astro';
import EventCard from '../components/EventCard.astro';
const allPosts = await Astro.glob('../pages/resources/*.md');
const filteredPosts = allPosts.filter((post) => post.frontmatter.featured === true);
---

<Layout title="Trans on Campus">
    <main>
        <!-- 
            [x] Splash (welcome to TOC, Join/About btns)
            [x] About (what is TOC, what we do, who we are) & Join (join toc, discord btns)
            [] Events (upcoming events, past events)
            [x] Resources cards (2-3 cards, more resources btn)
            [x] Sponsors

                    background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-image: url('/lights.jpg');
         -->
        <div class="splashBack">
            <div class="splash">
                <div class="splashOverlay"></div>
                <div class="splashContent">
                    <div class="splashText">
                        <div class="splashTitle"> Trans on Campus </div>
                        <div class="splashSubtitle">
                            ToC is a support network, social group, and advocacy group
                            for Gender Diverse & Questioning students in Auckland.
                        </div>
                    </div>
                    <div class="splashButtons">
                        <a href="https://forms.gle/YYRaW3nrKDTs3Gus6" target="_blank" rel="noopener noreferrer" class="btnLink">
                            <div class="splashBtn joinBtn">Join ToC</div>
                        </a>
                        <a href="/about" class="btnLink">
                            <div class="splashBtn aboutBtn">About Us</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="doubleSection">
            <div class="about subSection grey">
                <h1>About Us</h1>
                <p>
                    Trans on Campus is a support network, social group, and advocacy
                    group for Gender Diverse & Questioning students in Auckland.
                    <br><br>
                    We provide a safe space for students to meet, socialise, and support each other.

                </p>
                <a href="/about" class="btnLink">
                    <div class="splashBtn findMore purpleBg">Learn More</div>
                </a>
            </div>
            <div class="join subSection transFlag">
                <h1>Join ToC &lt;3</h1>
                <p>
                    Membership is free & for everyone!
                    <br><br>
                    ToC members are invited to our awesome events, and every membership helps secure funding to provide more support.
                    Membership doesn't roll over so you need to fill out this form each year.</p>
                <div class="joinBtns">
                    <a href="https://forms.gle/YYRaW3nrKDTs3Gus6" class="btnLink" target="_blank" rel="noopener noreferrer">
                        <div class="splashBtn findMore purpleBg">Join ToC</div>
                    </a>
                    <a href="/discord" class="btnLink" target="_blank" rel="noopener noreferrer">
                        <div class="splashBtn findMore purpleBg">Chat on Discord</div>
                    </a>
                </div>
            </div>
        </div>
        <!-- 
        <div class="events section orangeBg">
            <h1>Events</h1>
            <div class="cardArea">
                <!--{filteredPosts.slice(0, 3).map((post) => 
                    <EventCard 
                        title={String(post.frontmatter.title)}
                        subtitle={String(post.frontmatter.description)}
                        image={post.frontmatter.image}
                        style=""
                        target=""
                    />
                )}
                <EventCard
                    title="Title"
                    subtitle="Subtitle"
                    datetime={new Date().toLocaleString()}               
					style="greyBg"
                    target=""
                />
            </div>
        </div>
        -->
        <div class="resources section purpleBg">
            <h1>Resources</h1>
            <div class="cardArea">
                {filteredPosts.slice(0, 3).map((post) => 
                    <ResourceCard 
                        href={post.url} 
                        title={String(post.frontmatter.title) + " →"}
                        subtitle={String(post.frontmatter.description)}
                        image={post.frontmatter.image}
                        style=""
                        tags={post.frontmatter.tags}
                        target=""
                    />
                )}
                <ResourceCard 
                    href="resources" 
                    title="Find More Resources →"
                    subtitle="Find our full list of resources here"
                    image="https://images.squarespace-cdn.com/content/v1/5f8d6f1d6f5d9d6f06cf8f99/1620275756922-VKCB7CXJKPVYL9XFV08I/pexels-oriel-frankie-ashcroft-6054387.jpg"
                    style="greyBg"
                    tags={["More"]}
                    target=""
                />
            </div>
        </div>
        <!-- 
        <div class="sponsors section">
            <div class="leftSide">
                <h1>Proudly supported by our sponsors</h1>
            </div>
            <div class="rightSide">
                <img src="./sponsors/ikea.png" alt="" class="sponsorLogo">
                <img src="./sponsors/jeff.png" alt="" class="sponsorLogo">
                <img src="./sponsors/finland.png" alt="" class="sponsorLogo">
                <img src="./sponsors/jerma.webp" alt="" class="sponsorLogo">
                <img src="./sponsors/movieNight.webp" alt="" class="sponsorLogo">
                <img src="./sponsors/pizza.png" alt="" class="sponsorLogo">
            </div>
        </div>
        -->
    </main>
</Layout>
<script>
    (document.querySelector('.navbar') as HTMLElement).style.background = '#fff';
</script>
<style>
    /* Desktop: */
    @media only screen and (min-width: 800px) {
        h1 {
            font-size: 3rem;
        }
        p {
            font-size: 1.4rem;
        }
        .sponsorLogo {
            width: 10rem;
            margin-right: 5rem;
        }
        .section, .subSection {
            padding: 5rem 7rem;
        }
        .splashTitle {
            font-size: 5rem;
        }
        .splashSubtitle {
            font-size: 1.7rem;
            width: 70%;
        }
        .splashText {
            padding: 0 7rem 0 7rem;
        }
        .splashButtons {
            padding: 0 7rem 0 7rem;
            margin-top: 4rem;
        }
        .splashBtn {
            padding: 1rem 2rem;
            margin-right: 3rem;
            font-size: 1.2rem;
        }
        .splash {
            height: calc(100vh - 17rem);
        }
        .doubleSection {
            flex-direction: row;
        }
        .leftSide {
            margin-right: 4rem;
        }
    }
    /* Mobile */
    @media only screen and (max-width: 799px) {
        h1 {
            font-size: 2rem;
        }
        p {
            font-size: 1.2rem;
        }
        .sponsorLogo {
            width: 5rem;
            margin-right: 2rem;
            margin-bottom: 1rem;
        }
        .section, .subSection {
            padding: 2rem 2rem;
        }
        .splashTitle {
            font-size: 2.5rem;
        }
        .splashSubtitle {
            font-size: 1.3rem;
        }
        .splashText {
            padding: 0 2rem 0 2rem;
        }
        .splashButtons {
            padding: 0 2rem 0 2rem;
            margin-top: 2rem;
        }
        .splashBtn {
            padding: 0.8rem 1rem;
            margin-right: 1rem;
            font-size: 1rem;
        }
        .splash {
            padding: 3rem 0;
        }
        .doubleSection {
            flex-direction: column;
        }
        .leftSide {
            margin-right: 2rem;
        }
    }

    .btnLink {
        text-decoration: none;
    }
    h1, p {
        font-family: "Metropolis", "Inter", system-ui, sans-serif;
        margin: 0;
        color: #0b0025;
    }
    h1 {
        font-weight: 700;
        margin-bottom: 1rem;
    }
    p {
        font-weight: 400;
    }
    .joinBtns {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .orangeBg {
        background: linear-gradient(29deg, rgb(223, 134, 0) 0%, rgb(221, 88, 0), rgb(223, 134, 0) 100%);
        color: #f9f7ff;
    }
    .transFlag {
        background: rgb(214, 108, 124);
        background: 
            linear-gradient(18deg, rgba(249,222,226,1) 0%, rgba(231,164,193,1) 45%, rgba(86,203,251,1) 100%),
            url(https://grainy-gradients.vercel.app/noise.svg);
    }
    .transFlag h1, .purpleBg h1 {
        color: #fff;
        text-shadow: 0 0 1rem rgba(17, 0, 44, 0.212);
    }
    .transFlag p {
        color: #fff;
        text-shadow: 0 0 1rem rgba(17, 0, 44, 0.397);
    }
    .grey {
        background: rgb(239, 237, 241);
    }
    .purpleBg {
        color: white!important;
        background: rgb(116,76,213);
        background: linear-gradient(29deg, rgba(116,76,213,1) 0%, rgba(108,57,200,1) 26%, rgba(116,76,213,1) 100%);
    }
    .sponsors {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .rightSide {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
    }
    .leftSide {
        flex: 0.30;
        height: 100%;
    }
    .findMore {
        width: fit-content;
        margin-top: 1.6rem;
    }
    .doubleSection {
        display: flex;
    }
    .subSection {
        flex: 1;
    }
    .splashContent {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 2; /* Ensure content is above the overlay */
    }
    .splashButtons {
        display: flex;
    }
    .splashBtn {
        border-radius: 0.5rem;
        font-weight: 600;
        font-family: "Metropolis", "Inter", system-ui, sans-serif;
        background-color: white;
        color: #633dbd;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }
    .splashBtn:hover {
        background-color: #ffffffde;
    }
    .purpleBg:hover {
        background-color: rgba(117, 76, 213, 0.795)!important;
    }
    .splashTitle {
        font-weight: 700;
        font-family: "Metropolis", "Inter", system-ui, sans-serif;
    }
    .splashSubtitle {
        font-weight: 400;
        font-family: "Metropolis", "Inter", system-ui, sans-serif;
        margin-top: 1rem;
    }
    .splashText {
        color: white;
    }
    .cardArea {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(20.94rem, 100%), 1fr));
        grid-gap: 1.8rem;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
        box-sizing: border-box;
    }
    .splash {
        position: relative; 
        width: 100%;
        background: rgb(116,76,213);
        background-image: url('/nyanShark.png');
        background-size: cover;
        background-position: center;
    }
    .splashOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(29deg, rgba(116,76,213,1) 0%, rgba(108,57,200,1) 26%, rgba(116,76,213,.9) 60%, rgba(134,117,241,.5) 100%);
        z-index: 1; /* Ensure the overlay is above the background image */
    }
    main, .main {
        width: 100%;
        padding: 0;
        margin: 0;
    }
</style>